<div class="container-fluid">
  <div class="row">
    <%= render(:partial => 'record_column', locals: {record_column: 'Code Amendments'})%>
    <%= render(:partial => 'record_column', locals: {record_column: 'Legislative Status'})%>
    <%= render(:partial => 'record_column', locals: {record_column: 'Lobbyist Registrations'})%>
    <%= render(:partial => 'record_column', locals: {record_column: 'Public Meetings'})%>
  </div>
</div>
