<div class="container-fluid">
  <div class="row">
    <%= render(:partial => 'column', locals: {column_name: 'Code Amendments', data: 'record'})%>
    <%= render(:partial => 'column', locals: {column_name: 'Legislative Status', data: 'record'})%>
    <%= render(:partial => 'column', locals: {column_name: 'Lobbyist Registrations', data: 'lobbyist'})%>
    <%= render(:partial => 'column', locals: {column_name: 'Public Meetings', data: 'record'})%>
  </div>
</div>
