<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="mb-4">
          <h4 class="mb-4 mr-4">Subscription Preferences</h4>
          <div class="subscription d-flex justify-content-between align-items-center p-3 mb-3">
              <p class="mb-0 mr-3">Subscribe to <span class="highlight">code amendments and public meetings</span> in <span class="highlight">all jurisdictions</span> that match the terms <span class="highlight">"short-term rental" or "AirBnB"</span></p>
              <div class="d-flex justify-content-end">
                  <a href="#" class="mr-3">Edit</a>
                  <a href="#">Unsubscribe</a>
              </div>
          </div>
          <div class="subscription d-flex justify-content-between align-items-center p-3 mb-3">
              <p class="mb-0 mr-3">Subscribe to <span class="highlight">public meetings</span> in <span class="highlight">Miami-Dade County</span> that match the terms <span class="highlight">"bike lanes" and "bike safety"</span></p>
              <div class="d-flex justify-content-end">
                  <a href="#" class="mr-3">Edit</a>
                  <a href="#">Unsubscribe</a>
              </div>
          </div>
          <div class="col-sm-12 mt-5">
              <div class="mb-4">
                  <label for="">Add a subscription</label>
                  <input type="text" class="form-control" placeholder="Search for topic or keyword">
              </div>
              <div class="row mt-4">
                  <div class="col-sm-4">
                      <select>
                          <option selected>All record types</option>
                          <option value="1">Code Amendments</option>
                          <option value="2">Legislative Status</option>
                          <option value="3">Public Meetings</option>
                      </select>
                  </div>
                  <div class="col-sm-4">
                      <select>
                          <option selected>All governments</option>
                          <option value="1">City of Miami</option>
                          <option value="2">Miami-Dade County</option>
                          <option value="3">Miami Beach</option>
                      </select>
                  </div>
                  <div class="col-sm-4">
                      <select>
                          <option selected>All agencies</option>
                          <option value="1">City Commission</option>
                      </select>
                  </div>
              </div>
              <p class="font-italic mt-4">Boolean Guide</p>
              <div class="row">
                  <div class="col-sm-6">
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">AND</span>Inclusion</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">OR</span>Alternative</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">NOT</span>Exclusion</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">" "</span>Exact phrase</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">( )</span>Combination searches</p>
                  </div>
                  <div class="col-sm-6">
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">*</span>Single-character wildcard</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">!</span>Root expander</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">/N</span>Within N words</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">/s</span>Within same sentence</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">/p</span>Within same paragraph</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
