<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="mb-4">
          <div class="col-sm-12 mb-5">
              <h4 class="mb-4 mr-4">Subscription Preferences</h4>
              <h5 class="mb-3">Add a new subscription:</h5>
              <div class="mb-4">
                  <input type="text" class="form-control" placeholder="Search for topic or keyword">
              </div>
              <div class="row mt-4">
                  <div class="col-sm-4">
                      <select class="record-type" multiple="multiple">
                          <option value="1">Code Amendments</option>
                          <option value="2">Legislative Status</option>
                          <option value="3">Lobbyist Registrations</option>
                          <option value="4">Public Meetings</option>
                      </select>
                  </div>
                  <div class="col-sm-4">
                      <select class="governments" multiple>
                          <option value="1">City of Miami</option>
                          <option value="2">Miami-Dade County</option>
                          <option value="3">Miami Beach</option>
                      </select>
                  </div>
                  <div class="col-sm-4">
                      <select class="agencies" multiple>
                          <option value="1">City Commission</option>
                      </select>
                  </div>
              </div>
              <p class="font-italic mt-4">Boolean Guide</p>
              <div class="row">
                  <div class="col-sm-6">
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">AND</span>Inclusion</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">OR</span>Alternative</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">NOT</span>Exclusion</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">" "</span>Exact phrase</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">( )</span>Combination searches</p>
                  </div>
                  <div class="col-sm-6">
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">*</span>Single-character wildcard</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">!</span>Root expander</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">/N</span>Within N words</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">/s</span>Within same sentence</p>
                      <p><span class="font-weight-bold mr-4" style="width: 40px; display: inline-block;">/p</span>Within same paragraph</p>
                  </div>
              </div>
          </div>
          <h5 class="mb-3">Current subscriptions:</h5>
          <div class="subscription d-flex justify-content-between align-items-center p-3 mb-3">
              <p class="mb-0 mr-3">Subscribe to <span class="highlight">code amendments and public meetings</span> in <span class="highlight">all jurisdictions</span> that match the terms <span class="highlight">"short-term rental" or "AirBnB"</span></p>
              <div class="d-flex justify-content-end">
                  <a href="#" class="mr-3">Edit</a>
                  <a href="#">Unsubscribe</a>
              </div>
          </div>
          <div class="subscription d-flex justify-content-between align-items-center p-3 mb-3">
              <p class="mb-0 mr-3">Subscribe to <span class="highlight">public meetings</span> in <span class="highlight">Miami-Dade County</span> that match the terms <span class="highlight">"signs" or "billboards" or "murals"</span></p>
              <div class="d-flex justify-content-end">
                  <a href="#" class="mr-3">Edit</a>
                  <a href="#">Unsubscribe</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".record-type").select2({
    placeholder: "Record type"
  });
  $(".governments").select2({
    placeholder: "Governments"
  });
  $(".agencies").select2({
    placeholder: "Agencies"
  });
</script>
