body {
  -webkit-font-smoothing: antialiased;
  background: #fefefe;
  color: $black;
  font-family: $primary-font;
  line-height: 1.4;
}

.navbar {
  background: $white;
  box-shadow: 0 2px 4px rgba(31, 54, 61, .15);
  position: fixed;
  top: 0;
  z-index: 10;

  .nav-link {
    font-size: (14 / 16) * 1em;
    font-weight: $font-weight-heavy;
    padding: 1rem 0;

    &.active {
      border-bottom: 3px solid $blue-primary;
      padding-bottom: 13px;
    }

    i {
      margin-right: .25em;
    }
  }

  .form-control {
    background: $gray-6;
    border: 1px solid $gray-5;
    color: $gray-3;
    font-family: $primary-font;
    font-size: (14 / 16) * 1em;
    font-weight: $font-weight-light;
    padding: .5em 1em;
    width: 200px;
    transition: width .2s ease-in;

    &:focus {
      width: 300px;
    }
  }

  input{
    &::-webkit-input-placeholder {
     color: $gray-3;
    }
    &:-moz-placeholder {
       color: $gray-3;
    }
    &::-moz-placeholder {
       color: $gray-3;
    }
    &:-ms-input-placeholder {
       color: $gray-3;
    }
  }
}

.nav-link,
a {
  color: $gray-3;

  &:hover {
    color: $gray-2;
    text-decoration: none;
  }
}

.dropdown {
  i {
    margin-right: .25em;
  }
}

.dropdown-toggle-iconless::after {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  content: none;
}

.dropdown-menu {
  transform: translate3d(0px, -7px, 0px);
  pointer-events: none;
  transition: transform .3s cubic-bezier(.42, 0, .04, 1.75),
              opacity .2s ease-in;
}

.show > .dropdown-menu {
    transform: translate3d(0px, 3px, 0px);
    pointer-events: all;
}

.nav-dropdown-menu {
    top: 3rem;
}

.logo {
  height: 2em;
  left: 50%;
  margin-top: -1em;
  margin-left: -1em;
  position: absolute;
  top: 50%;

  @media(min-width: 992px){
    margin-left: -4.5em;
  }
}

.container-fluid {
  padding-top: 5em;

  @media(min-width: 992px){
    height: calc(100vh - 49px);
  }

  .column {
    margin-top: 2em;
    h1 + i {
      font-size: 1.25em;
    }
    @media(min-width: 992px){
      margin-top: 0;
    }
  }
}

.lg-h-100 {
  @media(min-width: 992px){
    height: 100% !important;
  }
}

.card {
  border: 1px solid $gray-5;
  border-radius: 5px;
  box-shadow: 0 2px 0 $gray-5;

  .card-header,
  .card-block {
    padding: 1em .75em;
  }

  .card-header {
    background: $gray-5;
    border-bottom: 0;

    .form-control {
      background: 0;
      border: 0;
      padding: 0;
      border-radius: 0;
    }
  }

  .card-block + div.modal + .card-block {
    border-top: 1px solid $gray-5;
  }
}

h1 {
  font-size: (20 / 16) * 1em;
  font-weight: $font-weight-heavy;
}

h3 {
  font-size: (16 / 16) * 1em;
  line-height: (24 / 20) * 1em;
  font-weight: $font-weight-light;
}

p {
  font-size: 1em;
  color: $black;
  font-weight: $font-weight-light;
  line-height: (24 / 16) * 1em;

  &.muted {
    font-size: (14 / 16) * 1em;
    line-height: (20 / 16) * 1em;
    color: $gray-3;
  }
}

a,
.dropdown-item {
  font-size: (14 / 16) * 1em;
  font-weight: $font-weight-light;
}

.record-item-star {
  color: $gray-1;
  font-size: 1em;
  transition: color .2s ease-in;

  &.active,
  &:hover {
    color: $blue-primary;
    cursor: pointer;
  }
}

.badge {
  font-size: (12 / 16) * 1em;
  font-weight: $font-weight-heavy;
  border-radius: 1em;
  padding: 4px 10px;
}

.badge-primary {
  color: $blue-1;
  background: $blue-4;
}

.badge-danger {
  color: $white;
  background: $red;
}

.badge-success {
  color: $white;
  background: $green;
}

.btn-link {
  color: $blue-primary;
}

.record-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.5em;
}

.view-all-icon {
  font-size: (16 / 16) * 1em;
}

.scroll-section {
  overflow: auto;
}

btn:hover {
    cursor: pointer;
}

.btn-primary {
  background: $blue-primary;
  border-color: $blue-primary;
}

.btn-outline-primary {
    border-color: $blue-primary;
    color: $blue-primary;

    &:hover {
        background-color: $blue-primary;
        border-color: $blue-primary;
    }
}

.font-weight-bold {
  font-weight: $font-weight-heavy;
}

.disclaimers > p {
  font-size: (12 / 16) * 1rem;
}

table {
    border: 1px solid $gray-5;
    box-shadow: 0 2px 0 $gray-5;
}

thead {
    background-color: $gray-5;
    color: $gray-2;
}

td {
    font-weight: $font-weight-light;
}

.no-display {
    display: none;
}

.subscription {
    background: $gray-6;
}

.highlight {
    font-weight: $font-weight-heavy;
    color: $blue-2;
}

.is-sortable:hover {
  color: $gray-1;
  cursor: pointer;
}

th {
  white-space: nowrap;
}

.table-striped {

  tbody tr:nth-child(2n) {
    background: $gray-6;
  }

  tbody tr:nth-child(2n-1) {
    background: $white !important;
  }
}

.font-14 {
  font-size: (14 / 16) * 1rem;
}

.select2 {
  width: 100% !important;
}
