// colors
$blue-primary: #00b4ee;
$blue-1: #527294;
$blue-2: #7598b6;
$blue-3: #a5cce3;
$blue-4: #c9e6f4;
$black: #1f363d;
$gray-1: #424d50;
$gray-2: #7a7f81;
$gray-3: #9a9fa1;
$gray-4: #c1c5c6;
$gray-5: #e7eaeb;
$gray-6: #f6f7f8;
$white: #fff;
$red: #ed6a5a;
$yellow: #fed766;
$green: #60d394;

// fonts
$primary-font: "Montserrat", sans-serif;

$font-weight-light: 300;
$font-weight-heavy: 500;
